JO_WeatherAgent_Final.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab88785b-f367-4428-adb8-2fb6bdc26ea4",
              "name": "units",
              "value": "metric",
              "type": "string"
            },
            {
              "id": "77510413-a02f-42ba-920c-d22da196971b",
              "name": "recipient_email",
              "value": "",
              "type": "string"
            },
            {
              "id": "9083d6a5-fa19-4011-bc19-4cd710a05dd5",
              "name": "city",
              "value": "Owerri",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        16
      ],
      "id": "95565048-d6a3-42c6-9d3d-2ac4c2fdd2e3",
      "name": "Config"
    },
    {
      "parameters": {
        "toEmail": "={{$node[\"Config\"].json.recipient_email}}",
        "subject": "=Daily Weather Update — {{$json.city}}",
        "html": "=<h2>🌤 Daily Weather Report — {{$json.city}}</h2>\n\n<p><strong>Date:</strong> {{$json.run_at}}</p>\n\n<ul>\n  <li><strong>Temperature:</strong> {{$json.temperature}}°{{$json.temperature_unit}}</li>\n  <li><strong>Condition:</strong> {{$json.condition}}</li>\n  <li><strong>Humidity:</strong> {{$json.humidity}}%</li>\n  <li><strong>Wind Speed:</strong> {{$json.wind_speed}} mph</li>\n  <li><strong>Alert:</strong> {{$json.alert_type}}</li>\n</ul>\n\n<hr />\n\n<p>{{$json.weather_summary}}</p>\n\n<p style=\"font-size:12px;color:gray;\">\nGenerated automatically by your Weather Agent 🌍\n</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        32,
        112
      ],
      "id": "31db90c7-9690-45dd-bfbe-4cec2c241b18",
      "name": "Send email",
      "webhookId": "152cb1c5-d563-498f-ba82-8daee26ebea8",
      "credentials": {
        "smtp": {
          "id": "s857hoyaTDdcmNyK",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -864,
        16
      ],
      "id": "43fe4b22-2322-4678-a5f6-2790871ca6d4",
      "name": "Cron (Schedule Trigger)"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{$node[\"Config\"].json.city}}\n"
            },
            {
              "name": "units",
              "value": "={{$node[\"Config\"].json.units}}"
            },
            {
              "name": "appid"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -416,
        16
      ],
      "id": "6778129e-e641-474f-b753-c9066cef2997",
      "name": "Weather API"
    },
    {
      "parameters": {
        "jsCode": "// Raw API response\nconst weather = $json;\n\n// Config values\nconst city = $node[\"Config\"].json.city;\nconst units = $node[\"Config\"].json.units;\n\n// Extract core fields\nconst temp = weather.main.temp;\nconst humidity = weather.main.humidity;\nconst windSpeedRaw = weather.wind.speed;\nconst conditionMain = weather.weather[0].main;\nconst conditionDesc = weather.weather[0].description;\n\n// Units formatting\nconst tempUnit = units === \"imperial\" ? \"°F\" : \"°C\";\nconst windSpeed =\n  units === \"metric\"\n    ? +(windSpeedRaw * 3.6).toFixed(1) // m/s → km/h\n    : windSpeedRaw; // mph\n\n// Alert logic\nlet alertType = \"none\";\nconst conditionText = `${conditionMain} ${conditionDesc}`.toLowerCase();\n\nif ([\"rain\", \"snow\", \"drizzle\", \"storm\", \"thunder\"].some(k => conditionText.includes(k))) {\n  alertType = \"precipitation\";\n} else if (units === \"metric\" && temp > 32) {\n  alertType = \"heat\";\n} else if (units === \"imperial\" && temp > 90) {\n  alertType = \"heat\";\n} else if (units === \"metric\" && temp < 0) {\n  alertType = \"frost\";\n} else if (units === \"imperial\" && temp < 32) {\n  alertType = \"frost\";\n}\n\n// Formatted summary (for email + logs)\nconst summary = `\nDaily Weather – ${city}\nTemp: ${temp}${tempUnit}\nCondition: ${conditionMain} (${conditionDesc})\nHumidity: ${humidity}%\nWind: ${windSpeed} ${units === \"metric\" ? \"km/h\" : \"mph\"}\nAlert: ${alertType}\n`.trim();\n\n// Output for downstream nodes\nreturn [\n  {\n    json: {\n      run_at: new Date().toISOString(),\n      city,\n      temperature: temp,\n      temperature_unit: tempUnit,\n      condition: `${conditionMain} - ${conditionDesc}`,\n      humidity,\n      wind_speed: windSpeed,\n      alert_type: alertType,\n      weather_summary: summary,\n      raw_response: weather\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        16
      ],
      "id": "3be6a4c8-c715-4cda-a244-362e1822469c",
      "name": "Weather Logic & Alert Rules"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://laaxaifhqskgmdldcvpw.supabase.co/rest/v1/weather_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxhYXhhaWZocXNrZ21kbGRjdnB3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0OTc2MjAsImV4cCI6MjA4MjA3MzYyMH0.vdwAdCotgY0MQkzMlG_jIdCUyl6h-k5BtlNdbhspx9I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxhYXhhaWZocXNrZ21kbGRjdnB3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0OTc2MjAsImV4cCI6MjA4MjA3MzYyMH0.vdwAdCotgY0MQkzMlG_jIdCUyl6h-k5BtlNdbhspx9I"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "=keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "run_at",
              "value": "={{$json.run_at}}"
            },
            {
              "name": "city",
              "value": "={{$json.city}}"
            },
            {
              "name": "temperature",
              "value": "={{$json.temperature}}"
            },
            {
              "name": "temperature_unit",
              "value": "={{$json.temperature_unit}}"
            },
            {
              "name": "condition",
              "value": "={{$json.condition}}"
            },
            {
              "name": "humidity",
              "value": "={{$json.humidity}}"
            },
            {
              "name": "wind_speed",
              "value": "={{$json.wind_speed}}"
            },
            {
              "name": "alert_type",
              "value": "={{$json.alert_type}}"
            },
            {
              "name": "weather_summary",
              "value": "={{$json.weather_summary}}"
            },
            {
              "name": "raw_response",
              "value": "={{$json.raw_response}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        -80
      ],
      "id": "2563c232-e92c-4369-8527-bc752076ff53",
      "name": "Save to Supabase"
    }
  ],
  "pinData": {},
  "connections": {
    "Config": {
      "main": [
        [
          {
            "node": "Weather API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron (Schedule Trigger)": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weather API": {
      "main": [
        [
          {
            "node": "Weather Logic & Alert Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weather Logic & Alert Rules": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "dcecb877-3011-493a-98e8-531df38d435f",
  "meta": {
    "instanceId": "e858d33dd32e867f3c69352a3e0ec892397452e0aa5ca437ac7f898165daa0d4"
  },
  "id": "1fnnQU_XEvDXlZEWPOuvf",
  "tags": []
}